/*Webbutik styling produkter*/
.wc-block-grid__products .wc-block-grid__product-image img {
    width: 100%;
    height: 30vh;
}
.product{
    display: flex;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 85%;
    margin-left: 15%;
    margin-top: 15vh;
}
.apa{
    background-color: rgb(213, 255, 196);
    width: 100%;
    margin: 0;
    padding: 0;
}