/*Webbutik styling produkter*/
.wc-block-grid__products .wc-block-grid__product-image img {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}
.product{
    display: flex;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 85%;
    margin-left: 15%;
    margin-top: 15vh;
}