
.kassaMargin{
  margin-left: 15vw;
  align-items: center;
  max-width: 85%;
  padding: 2em;
}
.kassaThecontent{
  color:#666CCD;
  max-width: 1200px;
 
}
.woocommerce p {
  margin: 1em;
}

.kassaThecontent input{
  text-align: center;
  background-color:transparent;
  color:rgba(0, 0, 0, 0.842);
  height:40px;
  border: 2px solid #ffff;
  font-size: 1.2em;
  font-weight:200;
}


.kassaThecontent input:focus, input:active{
  transition: background-color .3s;
  background-color: #ffff;

}
.kassaThecontent input:invalid{
  background-color: honeydew;
}

.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
  border-color: #666CCD !important; 
}