/*  policy sida //sb  */

#policy-div {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
}

#myContent {
    margin: 10px;
}

#policy-div > h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    
}

#policy-div > p {
    color: black;
}



