


/* Desktops and laptops ----------- */
@media screen and (max-width: 1024px) {
    /* Styles */
    #navMenu {
        display: none;
        z-index: 99;
        min-width: 100vh;
        max-width: 100vh;
        height: 90%;
        margin-top: 14vh;
        background-color: #FDD781;
    }

    .kassaMargin {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    main {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .margin-left {
        margin-left: 0;
    }

    .main-content {
        min-width: 100%;
        max-width: 100%;
        font-size: 1.5rem;
        margin-bottom: 2em;
    }

    .linkText {
        font-size: 4rem;
        font-weight: bold;
    }

    .logoWrapper {
        display: none;
    }



    #topHeader {
        padding-left: 0;
        padding-bottom: 1em;
        height: 15%;
    }

    .headerDiv {
        display: none;
    }

    .mobileHeaderDiv {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }

    #menuDropDown {
        display: flex;
        font-size: 5rem;
        align-items: center;
    } 

    #mobileLogoWrapper {
        display: flex;
    }

    .mobileLogo {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    .mobileLogo > img {
        object-fit: contain;
        width: 50%;
    }

    .paraBox > h1 {
        font-size: 4rem;
    }

    .wc-block-grid > ul > li {
        min-height: 40% ;
        max-width: 40% !important;
    }

    /* Footer */
    footer {
        padding: 1em;
        max-height: 80vh;
        min-height: 80vh;
        z-index: 10;
    }


    #menu-social-media {
        max-width: 100%;
        flex-wrap: wrap;
    }

    #menu-social-media > li {
        font-size: 2.2rem;
        padding: 0.5em 0 0.5em 0.5em;
        width: 45%;
    }

    .menu-social-media-container {
        max-width: 70%;
        display: flex;
    
    }

    .footerLogoWrapper {
        position: relative;
    }

    .shop-content {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shop-title {
        font-size: 2.5rem;
    }

    .taxo-list > a {
        font-size: 2.5rem;
    }



    #account-section {
        margin-left: 0;
    }

    .u-column1, .u-column2 {
        border: none;
        border-radius: 0;
    }

 









}


@media screen and (max-width: 768px) {
    .parallax, .paraBox {
        min-width: 100%;
        max-width: 100%;

    }

    .parallax {
        justify-content: center;
    }

    .paraBox {
        min-height: 90%;
        max-height: 90%;
    }

    .paraBox > h1 {
        font-size: 2rem;
    }

    .wc-block-grid > ul > li {
        min-height: 40% ;
        /* max-height: 50%; */
        max-width: 55% !important;
    }

    #menuDropDown {
        font-size: 2.5rem;
    } 

    .mobileLogo > img {
        object-fit: contain;
        width: 30%;
    }

    footer {
        min-height: 100%;
        max-height: 100%;
    }

    .footerTop {
        flex-direction: column;
        height: 100%;
    }

    .footerTopLeft {
        width: 100%;
        margin-bottom: 1em;
    }

    .footerTopLeft > .wpgmza_map {
        height: 40vh !important;
    }  

    .footerTopRight {
        width: 100%;
        margin: 0;
        margin-bottom: 1em;

    }
    .footerBottom {
        flex-direction: column;
        
    }

    .menu-social-media-container {
        max-width: 100%;
    }
    #menu-social-media > li {
        font-size: 1.5rem;
    }

    .linkText {
        font-size: 2.5rem;
        font-weight: bold;
    }
   
    nav.woocommerce-MyAccount-navigation > ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .related > ul {
        display: flex;
        flex-direction: column;

    }

    .related > ul > li {
        max-width: 100%;
        border: 2px solid #666CCD;
        border-radius: 10px;
        background-color: rgba(240, 128, 128);
        margin-bottom: 1em;
    }
}