.related > .products{
    /* background-color: violet !important ;  */
    padding-inline-start: 0px;
    display: flex;
    width: 100%;
}
.related > .products h2 {
    font-size: 2vh;
    color: teal;
}

/*Webbutik styling produkter*/
.wc-block-grid__products .wc-block-grid__product-image img {
    width: 100%;
    height: 35vh;
}
/* produktkorten */
.product, .related{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: auto;
}
.apa{
    background-color: rgb(213, 255, 196);
    width: 100%;
    margin: 0;
    padding: 0;
}
/* ta bort sale texten från "related products" */
.onsale {
    font-size: 0vh;
    margin: 0;
    padding: 0;
}
.woocommerce-LoopProduct-link > .woocommerce-loop-product__link > .onsale {
    color: red;
    font-size: 0vh;
}
/* namn och pris */
.summary, .entry-summary {
    display: flex;
    border: 2px solid #666CCD;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.entry-summary {
    font-size: 2vh;
}
.entry-summary button {
    background-color: #666CCD;
    color: white;
    width: 8vw;
    padding: 1vh;
    margin-top:1vh;
    margin-bottom:1vh;
    height: 100%;
    border: none;
}
/* Bildens storlek */
.wp-post-image{
    width: 100%;
    height: 50vh;
}

#tab-description{
    border: 2px solid #666CCD;
    padding: 40px;
}
#tab-description h2{
    text-decoration: underline;
}
#tab-description p{
    text-decoration-line: underline;
    text-decoration-style: solid;
}

#main {
    color:#666CCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 85%;
    margin-left: 15%;
    margin-top: 15vh;
}

ins > span > bdi {
    color:#666CCD;
}

del > span > bdi {
    font-size: 1.3em;
    color:#666CCD;
}

.related > .products h2 {
    font-size: 2vh;
    color:#666CCD;
}

.product_title .entry-title h1 {
    font-size: 6vh;
    color:#666CCD;
}
/* lägga till,ta bort varor popup */
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #FDD781;
    color: #666CCD;
    border: 2px solid #666CCD;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
}
.woocommerce-message a, a:link {
    align-items: center;
    color:#666CCD;
    font-size: 1rem;
}
.woocommerce-Price-amount {
    color: #666CCD;
}
/* "related products" */
.woocommerce-LoopProduct-link, .woocommerce-loop-product__link {
    border: 2px solid #666CCD;
    margin: 20px;
    padding: 20px;
}
.product_type_simple, .add_to_cart_button{
    border: 2px solid #666CCD;
    margin: 10px;
    padding: 10px;
}
.related  h2{
    margin-top: 2vh;
}

.tabs{
    margin: 20px;
    border: 2px solid #666CCD;
    padding: 20px;
    text-align: center;
}
.wc-tabs a{
font-size: 3vh;
}
.wc-tabs li{
    font-size: 0;
}
