.related > .products{
    /* background-color: violet !important ;  */
    padding-inline-start: 0px;
    display: flex;
    width: 100%;
}
.related > .products h2 {
    font-size: 2vh;
    color: teal;
}

/*Webbutik styling produkter*/
.wc-block-grid__products .wc-block-grid__product-image img {
    width: 100%;
    height: 35vh;
}
/* produktkorten */
.product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.apa{
    width: 100%;
    background-color: rgb(109, 217, 236);
    display: flex;
}

.woocommerce-breadcrumb{
    min-width: 85%;
}
.onsale {
    font-size: 0vh;
    margin: 0;
    padding: 0;
}

.summary > .entry-summary {
    display: flex;
    min-width: 85%;
    margin-left: auto;
}
/* Bildens storlek */
.wp-post-image{
    width: 100%;
    height: 50vh;
}

.woocommerce-LoopProduct-link > .woocommerce-loop-product__link > .onsale {
    color: red;
    font-size: 0vh;
}

#tab-description h2{
    text-decoration: underline;
}
#tab-description p{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
main {
    color:#666CCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 85%;
    margin-left: 15%;
    margin-top: 15vh;
}

ins > span > bdi {
    color:#666CCD;
}

del > span > bdi {
    font-size: 1.3em;
    color:#666CCD;
}

.related > .products h2 {
    font-size: 2vh;
    color:#666CCD;
}

.product_title .entry-title h1 {
    font-size: 6vh;
    color:#666CCD;
}
/* lägga till,ta bort varor popup */
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #FDD781;
    color: #666CCD;
    border: 2px solid #666CCD;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
}
.product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.woocommerce-message a, a:link { 
    align-items: center;
    color:#666CCD;
    font-size: 1rem;

}
.woocommerce-Price-amount {
    color: #666CCD;
}